@use 'mixins' as *;

@include fontface('Roboto Mono', 'roboto-mono');
@include fontface('Reddit Mono', 'reddit-mono-extra-light');

#cms {
  h2::after {
    background-position: -1763px -336px;
  }

  table {
    height: 768px;
    overflow-x: auto;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;

    tbody {
      flex-direction: column;
      position: relative;
      min-width: 1280px;
      max-height: 768px;
      display: block;
      margin: 0 auto;
      background-size: cover;
      background-image: url('/assets/images/info/fixer/cms/fixer-cms-bg-section.jpg');
    }

    tr {
      background-image: none;
      display: flex;
      flex-direction: column;
      width: 50px;
      height: 100px;

      // margin-bottom: 120px;
      // position: absolute;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 50px;
        height: 100px;
        vertical-align: middle;
        background-color: transparent;
        background-image: url('/assets/svg/fixer/fixer-bg-cms-icon.svg');
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.joomla {
        &::before {
          top: 24%;
          left: 58%;
        }

        &::after {
          top: 24%;
          left: 58%;
          background-image: url('/assets/svg/fixer/cms-joomla-logo.svg');
        }
      }

      &.wordpress {
        &::before {
          top: 14%;
          left: 3%;
        }

        &::after {
          top: 14%;
          left: 3%;
          background-image: url('/assets/svg/fixer/fixer-cms-wordpress-logo.svg');
        }
      }

      &.orchard {
        &::before {
          top: 30%;
          left: 20%;
        }

        &::after {
          top: 30%;
          left: 20%;
          background-image: url('/assets/svg/fixer/cms-orchard-logo.svg');
        }
      }

      &.magento {
        &::before {
          top: 20%;
          left: 80%;
        }

        &::after {
          top: 20%;
          left: 80%;
          background-image: url('/assets/svg/fixer/cms-magento-logo.svg');
        }
      }

      &.drupal {
        &::before {
          top: 48%;
          left: 10%;
        }

        &::after {
          top: 48%;
          left: 10%;
          height: 46px;
          background-image: url('/assets/svg/fixer/cms-drupal-logo.svg');
        }
      }

      &.oscommerce {
        &::before {
          top: 15%;
          left: 28%;
        }

        &::after {
          top: 15%;
          left: 28%;
          height: 46px;
          background-image: url('/assets/svg/fixer/cms-os-commerce-logo.svg');
        }
      }

      &.opencart {
        &::before {
          top: 41%;
          left: 37%;
        }

        &::after {
          top: 41%;
          left: 37%;
          background-image: url('/assets/svg/fixer/cms-opencart-logo.svg');
        }
      }

      &.webbuilder {
        &::before {
          top: 40%;
          left: 88%;
        }

        &::after {
          top: 40%;
          left: 88%;
          background-image: url('/assets/images/info/fixer/cms/semantic-web-builder-logo.png');
        }
      }

      &.backbase {
        &::before {
          top: 52%;
          left: 52%;
        }

        &::after {
          top: 52%;
          left: 52%;
          background-image: url('/assets/svg/fixer/cms-backbase-logo.svg');
        }
      }

      td {
        display: flex;
        align-items: center;
        padding: 12px;
        margin-bottom: 12px;
        text-transform: uppercase;
        background: #6c0303;
        background: linear-gradient(90deg, rgb(108 3 3 / 100%) 0%, rgb(108 3 3 / 0%) 100%);
        background: linear-gradient(90deg, rgb(108 3 3 / 100%) 0%, rgb(108 3 3 / 0%) 100%);
        background: linear-gradient(90deg, rgb(108 3 3 / 100%) 0%, rgb(108 3 3 / 0%) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6C0303", endColorstr="#6C0303", GradientType=1);

        &::before {
          content: '';
          display: flex;
          align-self: center;
          width: 32px;
          height: 32px;
          margin-right: 12px;
          background-color: white;
          mask-image: url('/assets/images/info/fixer/type-frameworks-icon.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 100%;
        }

        &::after {
          // display: block;
          // width: 32px;
          // height: 32px;
          // position: absolute;
          // left: calc(5% + 12px);
          // border: solid 1px white;
        }

        &.name {
          font-weight: 700;
          font-size: 30px;
          text-decoration: line-through;

          &::after {
            position: absolute;
            left: 64px;
            content: '';
            font-size: 10px;
            width: calc(100% - 156px);
            height: 1px;
            border-bottom: solid 1px white;
          }
        }

        &.name,
        &.percentage,
        &.years,
        &.use,
        &.level {
          display: none;
        }

        &.years {
          &::before {
            mask-image: url('/assets/images/info/fixer/time-frameworks-icon.svg');
          }

          &::after {
            content: '\00a0years';
          }
        }

        &.percentage {
          position: relative;
          padding: 0;
          background: transparent;
          font-size: 72px;
          padding-top: 40px;
          font-family: 'Reddit Mono', 'Courier New', Courier, monospace;
          font-weight: 100;

          &::before {
            width: 100%;
            position: absolute;
            top: 0;
            height: 40px;
            background: transparent;
            border: solid 1px white;
            mask-image: none;
          }

          &::after {
            content: '';
            display: block;
            box-sizing: border-box;
            width: calc(var(--percentage) - 8px);
            height: 34px;
            position: absolute;
            top: 4px;
            left: 4px;
            background-image: url('/assets/svg/fixer/fixer-cms-bullet.svg');
            background-repeat: repeat-x;
            background-size: auto;
          }
        }

        &.use::before {
          mask-image: url('/assets/images/info/fixer/use-frameworks-icon.svg');
        }

        &.level::before {
          mask-image: url('/assets/images/info/fixer/level-frameworks-icon.svg');
        }
      }

      &:hover {
        position: fixed;
        top: 120px;
        left: 50%;
        transform: translate(-50%, 50px);
        z-index: 3;
        width: calc(100vw - 40px);

        &::before {
          top: 0;
          left: 0;
          width: 100vw;
          height: 62vh;
          background-image: none;
          backdrop-filter: blur(6px);
          z-index: -1;
        }

        &::after {
          display: none;
        }

        td {
          display: flex;
        }
      }
    }
  }

  .back-to-top {
    display: none;
  }
}
