@use 'partials';

#knowledge {
  background-image: url(/assets/images/info/fixer/fixer-knowledge-bg.jpg);
  h2::after {
    background-position: -1763px 0px;
  }
  table {
    padding-left: 5%;
    margin-top: 60px;
    tbody {
      width: 100%;
      tr {
        position: relative;
        float: left;
        width: 340px;
        height: 170px;
        margin: 0 16px 16px 0;
        overflow: hidden;
        background-position: -427px -332px;
        transition: background-position 0.6s;
        transform: scale(1);
        transition: all 0.6s;
        &:hover {
          cursor: default;
          transform: scale(1.5);
          transition: all 0.6s;
          td {
            transition: all 0.6s;
          }
          .name {
            top: 100px;
          }
          .type {
            top: 90px;
          }
          .years {
            top: 52px;
          }
          .level {
            top: -22px;
          }
          .use {
            top: 14px;
          }
          .percentage {
            top: -58px;
          }
          .scroll {
            background-position: -364px -48px;
            transition: background-position 0.6s;
          }
        }
        td {
          position: relative;
          z-index: 2;
          width: 100%;
          float: left;
          color: #550000;
          font-family: 'Arsenal', Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          transition: all 0.6s;
          &.name {
            position: absolute;
            z-index: 2;
            height: 40px;
            top: 0;
            text-transform: uppercase;
            font-size: 0.9em;
            line-height: 40px;
            color: #000;
          }
          &.type {
            display: block;
            top: -15px;
          }
          &.years {
            top: -55px;
          }
          &.use {
            display: block;
            top: -90px;
          }
          &.level {
            display: block;
            top: -120px;
          }
          &.percentage {
            top: -160px;
          }
          &.years::after {
            content: ' years';
          }
          &.decorative {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            visibility: visible;
          }
          .gradient,
          .scroll {
            background-image: partials.$sprite;
            background-repeat: no-repeat;
          }
          .gradient {
            position: absolute;
            top: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            background-position: -28px -233px;
          }
          .scroll {
            position: absolute;
            top: 0;
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-position: -364px -150px;
            transition: background-position 0.6s;
          }
        }
      }
    }
  }
}
