@mixin fontface($familyName, $fontName) {
  @font-face {
    font-family: $familyName;
    src: url('/assets/fonts/'+$fontName+'.eot');
    src: url('/assets/fonts/'+$fontName+'.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/'+$fontName+'.woff2') format('woff2'),
         url('/assets/fonts/'+$fontName+'.woff') format('woff'),
         url('/assets/fonts/'+$fontName+'.svg#'+$fontName) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
@mixin cover {
  background-color: transparent;
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: var(--cover-bg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    h1 {
      z-index: 1;
      position: relative;
    }
}

