@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@include fontface('Mr Robot', 'mr-robot');

.the-server #profile {
  position: relative;
  width: 100vw;
  height: 2100vh;
  padding: 0;
  margin: 0;
  background-image: url(/assets/images/info/server/profile/hello-friend.jpg);
  background-attachment: fixed;
  background-size: cover;
  p {
    padding: 0;
    margin: 0;
  }
  [data-sp='hello-friend'] {
    position: relative;
  }
  .view {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
      sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 72px;

    &[data-id='hello-friend-first'] {
      position: relative;
      display: block;
      top: 0;
      margin: 0;
      background: transparent;
      [data-sp] {
        top: calc(50% - 120px);
        font-size: 120px;
        line-height: 0.75;
      }
    }
    &[data-id='hello-friend-second'] {
      top: 100vh;
      background-image: url(/assets/images/info/server/profile/hello-friend-b.jpg);
      [data-sp] {
        top: calc(60% - 190px);
        font-size: 120px;
        line-height: 0.75;
      }
    }
    &[data-id*='game'] {
      background-image: url(/assets/images/info/server/profile/lets-game.jpg);
      font-size: 120px;
      line-height: 90px;
    }
    &[data-id='game-first'] {
      top: 200vh;
      background-image: url(/assets/images/info/server/profile/lets-game.jpg);
      z-index: 1;
      [data-sp] {
        top: calc(50% - 80px);
        font-size: 150px;
        line-height: 0.75;
      }
    }
    &[data-id='game-second'] {
      top: 300vh;
      height: calc(100vh + 92px);
      font-size: 120px;
      background-image: url(/assets/images/info/server/profile/maybe.jpg);
      [data-sp='maybe'] {
        top: calc(60% - 180px);
        font-size: 150px;
        line-height: 0.75;
      }
    }
    &[data-id='game-third'] {
      top: 400vh;
      font-size: 100px;
      line-height: 100px;
      background-image: url(/assets/images/info/server/profile/give-you.jpg);
      [data-sp='give-you'] {
        top: calc(50% - 180px);
        font-size: 150px;
        line-height: 0.75;
        text-shadow: -8px 11px 0px #000000;
      }
    }
    &[data-id='game-fourth'] {
      top: 500vh;
      font-size: 100px;
      line-height: 100px;
      background-image: url(/assets/images/info/server/profile/my-name.jpg);
      [data-sp] {
        top: calc(50% - 80px);
        font-size: 150px;
        line-height: 0.75;
      }
    }
    &[data-id='my-name'] {
      top: 600vh;
      background-image: url(/assets/images/info/server/profile/my-name-is.jpg);
      [data-sp='my-name-is'] {
        z-index: 2;
        height: auto;
        width: auto;
        left: 20px;
        font-size: 60px;
        text-align: center;
        color: #ffc600;
        top: calc(50% - 60px);
      }
      [data-sp='victor-zamudio'] {
        z-index: 2;
        height: auto;
        font-size: 120px;
        line-height: 90px;
        top: 50%;
        text-align: left;
        left: 20px;
        width: auto;
      }
    }
    &[data-id='im-uxe'] {
      top: 700vh;
      font-size: 100px;
      line-height: 96px;
      background-image: url(/assets/images/info/server/profile/senior.jpg);
      [data-sp='im-a'] {
        font-size: 72px;
        text-align: left;
        color: #ffc600;
        top: calc(50% - 162px);
        width: 50px;
        height: auto;
        line-height: 0.75;
        left: calc(50% - 160px);
      }
      [data-sp='uxe'] {
        font-size: 120px;
        height: auto;
      }
      abbr {
        display: block;
        // font-size: 150px;
      }
    }
    &[data-id='at-thomson-reuters'] {
      top: 800vh;
      font-size: 100px;
      line-height: 96px;
      background-image: url(/assets/images/info/server/profile/at-tr.jpg);
      [data-sp='at'] {
        width: auto;
        height: auto;
        font-size: 90px;
        text-align: left;
        top: calc(50% - 80px);
        left: calc(50% - 138px);
      }
      a {
        display: inline;
        font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
          sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120px;
        line-height: 90px;
        width: 280px;
        top: 50%;
        left: calc(50% - 172px);
        text-align: center;
        height: auto;
        background-color: transparent;
        text-shadow: -16px 0 20px black;
      }
    }
    &[data-id='at-thomson-reuters-since'] {
      top: 900vh;
      background-image: url(/assets/images/info/server/profile/since.jpg);
      [data-sp='since'] {
        width: auto;
        height: auto;
        font-size: 60px;
        color: #ff6c00;
        top: calc(50% - 120px);
        left: calc(50% - 158px);
      }
      [data-sp='september'] {
        top: calc(50% - 60px);
        [data-sp='2022'] {
          font-size: 150px;
          top: 96px;
          left: calc(50% - 164px);
          height: auto;
          width: auto;
          text-align: left;
        }
        [data-sp='remainig'] {
          font-size: 56px;
          color: #ff6c00;
          top: calc(50% + 140px);
        }
      }
    }
    &[data-id='born-and-raised'] {
      top: 1000vh;
      background-image: url(/assets/images/info/server/profile/beloved-country.jpg);
      [data-sp] {
        width: auto;
        height: auto;
      }
      [data-sp='born'] {
        font-size: 90px;
        left: 20px;
        top: calc(25% + 16px);
      }
      [data-sp='and'] {
        font-size: 42px;
        color: #ffc600;
        left: 166px;
        top: calc(25% + 32px);
      }
      [data-sp='raised'] {
        font-size: 90px;
        left: 20px;
        top: calc(30% + 42px);
      }
      [data-sp='in'] {
        font-size: 42px;
        color: #ffc600;
        left: 212px;
        top: calc(25% + 98px);
      }
      [data-sp='mexico'] {
        display: flex;
        justify-content: center;
        font-size: 80px;
        font-family: 'Mr Robot', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 20px;
        right: 20px;
        top: calc(40% + 90px);
        height: 100px;
        line-height: 1.2;
        span {
          display: flex;
        }
        [data-color='red'] {
          color: #ff007f;
        }
        [data-color='white'] {
          color: #ffffff;
        }
        [data-color='green'] {
          color: #36a500;
        }
      }
      [data-sp='my'] {
        top: auto;
        font-size: 36px;
        left: auto;
        bottom: 140px;
        right: 224px;
        color: #ffc600;
      }
      [data-sp='beloved'] {
        display: flex;
        font-size: 72px;
        left: auto;
        right: 30px;
        top: auto;
        bottom: 170px;
        [data-color='deep-red'] {
          color: red;
        }
      }
      [data-sp='country'] {
        font-size: 72px;
        left: auto;
        right: 20px;
        top: auto;
        bottom: 110px;
      }
    }
    &[data-id='around-the-web'] {
      top: 1100vh;
      background-image: url(/assets/images/info/server/profile/around.jpg);
      [data-sp='been'] {
        font-size: 42px;
        top: 30%;
        left: 20px;
        color: #00b6ff;
        width: 80px;
        height: auto;
        line-height: 35px;
        text-align: right;
      }
      [data-sp='around'] {
        width: auto;
        left: auto;
        font-size: 100px;
        top: 30%;
        left: 104px;
      }
      [data-sp='the'] {
        top: 50%;
        font-size: 50px;
        color: #00b6ff;
        height: auto;
        width: auto;
        left: auto;
        transform: translateY(-50px);
      }
      [data-sp='web'] {
        top: calc(50% + 20px);
        font-size: 120px;
      }
      [data-sp='since'] {
        font-size: 42px;
        color: #00b6ff;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 200px;
        right: 260px;
      }
      [data-sp='june-2006'] {
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 146px;
        right: 20px;
        font-size: 100px;
      }
      [data-sp='n-years'] {
        font-size: 42px;
        color: #00b6ff;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 92px;
        right: 20px;
      }
    }
    &[data-id='working-with-brands'] {
      top: 1200vh;
      background-image: url(/assets/images/info/server/profile/brands.jpg);
      [data-sp] {
        height: auto;
        width: auto;
        text-shadow: -7px 14px 4px black;
      }
      [data-sp='and'] {
        top: calc(35% - 50px);
        left: calc(50% - 30px);
        color: #ffc600;
        font-size: 60px;
        text-transform: uppercase;
      }
      [data-sp='working'] {
        top: calc(35% + 14px);
        left: calc(50% - 140px);
        font-size: 100px;
      }
      [data-sp='with'] {
        top: calc(35% + 100px);
        left: calc(50% - 124px);
        color: #ffc600;
        font-size: 60px;
        text-transform: uppercase;
      }
      [data-sp='brands'] {
        top: calc(35% + 170px);
        left: calc(50% - 140px);
        font-size: 120px;
      }
      [data-sp='like'] {
        top: calc(40% + 270px);
        left: calc(30%);
        font-size: 150px;
      }
    }
    &[data-id='warner-media'] {
      top: 1300vh;
      background-image: url(/assets/images/info/server/profile/warner-media.jpg);
      [data-sp] {
        font-size: 120px;
        width: 100%;
        height: auto;
        top: 40%;
        padding: 0;
        margin: 0;
        text-indent: -36px;
      }
      [data-sp='media'] {
        top: calc(40% + 103px);
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        color: #939498;
        font-size: 165px;
        text-indent: 36px;
      }
    }
    &[data-id='jnj'] {
      top: 1400vh;
      background-image: url(/assets/images/info/server/profile/jonhson-and-jonhson.jpg);
      [data-sp] {
        top: calc(55% - 52px);
        font-size: 280px;
        text-shadow: 20px -7px 16px black;
      }
    }
    &[data-id='google'] {
      top: 1500vh;
      background-image: url(/assets/images/info/server/profile/google.jpg);
      [data-sp] {
        display: flex;
        justify-content: center;
        font-size: 140px;
        line-height: 1.2;
        width: 100%;
        height: auto;
        top: calc(50% - 36px);
        left: 0;
        [data-color='blue'] {
          color: #4285f4;
        }
        [data-color='red'] {
          color: #ea4335;
        }
        [data-color='yellow'] {
          color: #fbbc05;
        }
        [data-color='green'] {
          color: #34a853;
        }
      }
    }
    &[data-id='ibm'] {
      top: 1600vh;
      background-image: url(/assets/images/info/server/profile/ibm.jpg);
      [data-sp] {
        font-size: 280px;
        line-height: 1.5;
        width: 100%;
        height: auto;
        top: 38%;
        left: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 5%,
          rgba(255, 255, 255, 0) 5%,
          rgba(255, 255, 255, 0) 10%,
          rgba(255, 255, 255, 1) 10%,
          rgba(255, 255, 255, 1) 15%,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 0) 25%,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 1) 30%,
          rgba(255, 255, 255, 1) 35%,
          rgba(255, 255, 255, 0) 35%,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 1) 40%,
          rgba(255, 255, 255, 1) 45%,
          rgba(255, 255, 255, 0) 45%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 55%,
          rgba(255, 255, 255, 0) 55%,
          rgba(255, 255, 255, 0) 60%,
          rgba(255, 255, 255, 1) 60%,
          rgba(255, 255, 255, 1) 65%,
          rgba(255, 255, 255, 0) 65%,
          rgba(255, 255, 255, 0) 70%,
          rgba(255, 255, 255, 1) 70%,
          rgba(255, 255, 255, 1) 75%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 80%,
          rgba(255, 255, 255, 1) 80%,
          rgba(255, 255, 255, 1) 85%,
          rgba(255, 255, 255, 0) 85%,
          rgba(255, 255, 255, 0) 90%,
          rgba(255, 255, 255, 1) 90%,
          rgba(255, 255, 255, 1) 95%,
          rgba(255, 255, 255, 0) 95%,
          rgba(255, 255, 255, 0) 100%,
          rgba(255, 255, 255, 1) 100%,
          rgba(255, 255, 255, 1) 120%
        );
        background-clip: text;
        color: transparent;
      }
    }
    &[data-id='microsoft'] {
      top: 1700vh;
      background-image: url(/assets/images/info/server/profile/microsoft.jpg);
      [data-sp] {
        width: auto;
        height: auto;
        left: calc(50% - 86px);
      }
      [data-sp='and'] {
        top: calc(50% - 96px);
        font-size: 90px;
        color: #05a6f0;
        left: calc(50% - 138px);
      }
      [data-sp='micro'] {
        background: rgb(243, 83, 37);
        background: linear-gradient(
          90deg,
          rgba(243, 83, 37, 1) 0%,
          rgba(243, 83, 37, 1) 37%,
          rgba(129, 188, 6, 1) 37%,
          rgba(129, 188, 6, 1) 100%
        );
        background-clip: text;
        color: transparent;
        font-size: 150px;
        line-height: 1.2;
        left: calc(50% - 140px);
        top: calc(60% - 142px);
      }
      [data-sp='soft'] {
        font-size: 180px;
        line-height: 1;
        top: calc(60% - 24px);
        left: calc(50% - 130px);
        background: #ffba08;
        background: linear-gradient(
          90deg,
          rgba(255, 186, 8, 1) 51%,
          rgba(5, 166, 240, 1) 50%
        );
        background-clip: text;
        color: transparent;
      }
    }
    &[data-id='among-others'] {
      top: 1800vh;
      background-image: url(/assets/images/info/server/profile/others.jpg);
      [data-sp] {
        text-shadow: 20px 20px black;
      }
      [data-sp='among'] {
        color: #ffc600;
        font-size: 36px;
        width: auto;
        left: 40px;
        top: calc(35% - 67px);
      }
      [data-sp='others'] {
        font-size: 120px;
        top: 35%;
        left: 50px;
        width: auto;
      }
      [data-sp='last'] {
        color: #ffc600;
        font-size: 40px;
        display: inline-block;
        width: auto;
        top: calc(35% + 154px);
        left: calc(50% - 116px);
        transform: rotate(-90deg);
      }
      [data-sp='n-years'] {
        font-size: 120px;
        top: calc(35% + 160px);
      }
      [data-sp='th'] {
        width: auto;
        font-size: 30px;
        top: calc(30% + 160px);
        left: calc(50% + 46px);
      }
      [data-sp='years'] {
        font-size: 120px;
        top: calc(50% + 150px);
      }
    }
    &[data-id='remember'] {
      top: 1900vh;
      font-size: 100px;
      background-image: url(/assets/images/info/server/profile/remember.jpg);
      [data-sp='have-to'],
      [data-sp='that'] {
        color: #c80000;
      }
      [data-sp='remember'] {
        top: calc(50% + 50px);
      }
      [data-sp='have-to'] {
        font-size: 72px;
        line-height: 1;
        width: 200px;
        left: 20px;
        top: calc(50% - 100px);
        text-align: left;
      }
      [data-sp='that'] {
        top: calc(50% + 160px);
        left: auto;
        width: auto;
        right: 20px;
        font-size: 150px;
      }
    }
    &[data-id='my-sheet'] {
      top: 2000vh;
      background-image: url(/assets/images/info/server/profile/my-sheet.jpg);
      [data-sp='this-is'] {
        color: #00b6ff;
        left: calc(50% - 46px);
        top: calc(60% - 240px);
        font-size: 72px;
        text-align: center;
        line-height: 0.9;
        width: 98px;
      }
      [data-sp='my'] {
        font-size: 150px;
        width: 100%;
        top: calc(60% - 54px);
      }
      [data-sp='sheet'] {
        background-color: transparent;
        width: 100%;
        top: calc(60% + 85px);
        font-size: 130px;
        font-weight: 700;
        letter-spacing: -8px;
      }
    }
    [data-sp] {
      z-index: 1;
      position: absolute;
      padding: 0;
      width: 100%;
      height: auto;
      top: calc(50% - 52px);
      left: 0;
    }
  }
}
