$programsCovers: (
  '&.webstorm': -1200px 0px,
  '&.vscode': -1200px -106px,
  '&.intellijidea': -1200px -212px,
  '&.visualstudio': -1200px -318px,
  '&.eclipse': -1200px -424px,
  '&.xcode': -1200px -530px,
  '&.apachenetbeans': -1200px -636px,
  '&.sublimetext': -1200px -742px,
  '&.atom': -1200px -848px,
  '&.androidstudio': -1200px -954px,
  '&.postman': -1200px -1060px,
  '&.browserstack': -1328px 0,
  '&.githubdesktop': -1328px -106px,
  '&.dockerdesktop': -1328px -212px,
  '&.kubernetesdashboard': -1328px -318px,
  '&.gimp': -1328px -424px,
  '&.inkscape': -1328px -530px,
  '&.scribus': -1328px -636px,
  '&.figma': -1328px -742px,
  '&.photoshop': -1328px -848px,
  '&.illustrator': -1328px -954px,
  '&.indesign': -1328px -1060px,
  '&.lucidchart': -1456px 0px,
  '&.mysqlworkbench': -1456px -106px,
  '&.mongodbcompass': -1456px -212px,
  '&.robo3t': -1456px -318px,
  '&.squirrelsql': -1456px -424px,
  '&.sequelpro': -1456px -530px,
  '&.dbeaver': -1456px -636px,
  '&.libreoffice': -1456px -742px,
  '&.office365': -1456px -848px,
  '&.teams': -1456px -954px,
  '&.slack': -1456px -1060px,
  '&.zoom': -1584px 0px,
);

#programs {
  background-image: url(/assets/images/info/fixer/fixer-programs-bg.jpg);
  h2::after {
    background-position: -1763px -168px;
  }
  table {
    width: 100%;
    padding-left: 10%;
    margin-top: 60px;
    tbody {
      width: 100%;
      font-size: 21px;
      tr {
        position: relative;
        z-index: 1;
        width: 140px;
        height: 140px;
        float: left;
        margin: 0 8% 8px 0;
        padding: 12px 0 0 0;
        transform: scale(1);
        background-position: -974px -30px;
        transition: transform 0.5s;
        @each $selectorName, $position in $programsCovers {
          #{$selectorName} .decorative {
            background-position: $position;
          }
        }
        .decorative {
          display: block;
          width: 72px;
          height: 82px;
          margin: -2px 0 0 14px;
          background-image: partials.$sprite;
          background-position: -30px -30px;
          background-repeat: no-repeat;
        }
        &:hover {
          cursor: default;
          background-position: -996px -197px;
          transform: scale(1.75);
          transition: transform 0.5s;
          z-index: 2;
          .decorative {
            display: none;
          }
          td {
            display: block;
          }
        }
        td {
          display: none;
          font-family: 'Arsenal', Arial, Helvetica, sans-serif;
          font-size: 11px;
          line-height: 1;
          text-transform: uppercase;
          padding: 0 4px 4px 32px;
          color: #e1e1e1;
          &.name {
            font-weight: bold;
            color: #d4a140;
          }
          &.percentage {
            padding-left: 46px;
          }
          &.years {
            width: 100%;
            &::after {
              content: ' years';
            }
          }
        }
      }
    }
  }
}
