---
import BookPage from '../layouts/BookPage.astro';
---

<BookPage
  title="404"
  primaryColor="#ff6600"
  secondaryColor="#803300"
  currentUrl={Astro.url.pathname}
>
  <h1>404</h1>

  <p>Page not found! :(</p>
</BookPage>
