---
interface Props {
  title: string;
  property?: string | string[];
}

const { title, property } = Astro.props;

const value = Array.isArray(property) ? property.join(', ') : property;
---

{
  value && (
    <section>
      <h2>{title}</h2>
      <p>{value}</p>
    </section>
  )
}
