<section id="social-media" class="subsection">
  <h2>Social Media</h2>

  <div id="linkedin" class="social-network sprite">
    <h3 class="sprite"><span class="title">linkedin</span><span class="sprite icon linkedin">&nbsp;</span><span class="data1">&nbsp;</span></h3>
    <p class="profile sprite fragment">
      <a href="http://mx.linkedin.com/in/victorzamudio/" target="_blank" title="Víctor Zamudio en linkedin">VictorZamudio</a><br/>
      <em><span class="hide-mobile"><abbr title="User Experience">UX</abbr>/<abbr title="User Interface">UI</abbr></span> Lead Engineer at Thomson Reuters</em>
    </p>
    <p class="jobs sprite fragment">
      <strong>Previous jobs</strong><br>
      <em>Globant, Seccion Amarilla, EC Global Network</em><br>
    </p>
    <p class="education sprite fragment">
      <strong>Education</strong><br>
      <em>Universidad Aut&oacute;noma Metopolitana, Unidad Xochimilco</em><br>
    </p>

    <p class="groups sprite fragment">
      <strong>Groups</strong><br />
      <em>Top Web Designers - 23,248 members</em><br>
      <em>PHP Developers - 99,999 members</em>
    </p>

    <p class="see sprite"><a href="http://mx.linkedin.com/in/victorzamudio/" target="_blank" title="Víctor Zamudio on linkedin">See on linkedin</a></p>
  </div>
  
  <div id="behance" class="social-network sprite">
    <h3 class="sprite">
      <span class="title">Behance</span>
      <span class="sprite icon behance">&nbsp;</span>
      <span class="data1">&nbsp;</span>
    </h3>
 
    <p class="profile sprite fragment">
      <a href="http://be.net/victorzamudiodev" target="_blank" title="Víctor Zamudio on Behance">VictorZamudioDev</a><br/>
      <em><span class="hide-mobile"><abbr title="User Experience">UX</abbr>/<abbr title="User Interface">UI</abbr> </span>Lead Engineer at Thomson Reuters</em>
    </p>
 
    <p class="work sprite fragment">
      <strong>Work</strong><br />
      <em>Some of my work</em><br />
      <img src="" width="200" height="100"  alt="my work"/>
    </p>
 
    <p class="inspiration sprite fragment">
      <strong>Inspiration</strong><br>
      <em>UX/UI</em><br>
      <img src="" width="200" height="100" alt="Inspiration" />
    </p>
 
    <p class="see sprite">
      <a href="http://be.net/victorzamudiodev" target="_blank" title="Víctor Zamudio on Behance">See on Behance</a>
    </p>
  </div>

  <div id="dribbble" class="social-network sprite">
    <h3 class="sprite">
      <span class="title">Dribbble</span>
      <span class="sprite icon dribbble">&nbsp;</span>
      <span class="data2">&nbsp;</span>
    </h3>

    <p class="profile sprite fragment">
      <a href="https://dribbble.com/victorZamudio" target="_blank" title="Víctor Zamudio on Dribbble">VictorZamudio</a><br/>
      <em><span class="hide-mobile"><abbr title="User Experience">UX</abbr>/<abbr title="User Interface">UI</abbr> </span>Lead Engineer at Thomson Reuters</em>
    </p>

    <p class="work sprite fragment">
      <strong>Work</strong><br />
      <em>Some of my work</em><br />
      <img src="" width="200" height="100"  alt="my work"/>
    </p>
  
    <p class="see sprite"><a href="https://dribbble.com/victorZamudio" target="_blank" title="V&iacute;ctor Zamudio on Twitter">See on Dribbble</a></p>
  </div>
 
  <div id="pinterest" class="social-network sprite">
    <h3 class="sprite"><span class="title">Pinterest</span><span class="sprite icon pinterest">&nbsp;</span><span class="datos1">&nbsp;</span></h3>
    <p class="profile sprite fragment">
      <a href="https://www.pinterest.com/victorzamudio/" target="_blank" title="Víctor Zamudio en Pinterest">VictorZamudio</a><br/>
      <em>Web Designer, Dreamer & Maker</em>
    </p>
    <p class="boards sprite fragment">
      <strong>Boards</strong><br>
      <em>Artists that inspire</em><br>
      <span>15 pins</span>
      <a href="https://www.pinterest.com/victorzamudio/artists-that-inspire/" title="Board Artist that inspire on Pinterest" target="_blank"><img src="/assets/images/contact/artist-that-inspire.jpg" width="284" height="209" alt="Imagen del tablero de pinterest Artists that inspire" /></a>
    </p>
    <p class="see sprite"><a href="https://www.pinterest.com/victorzamudio/" target="_blank" title="Víctor Zamudio on Pinterest">See on Pinterest</a></p>
  </div>

  <span class="decorative">
    <span class="position-ship">&nbsp;</span>
    <span class="screen-top">&nbsp;</span>
    <span class="grid">&nbsp;</span>
    <span class="date"><span class="hours">&nbsp;</span>
    <span class="minutes">&nbsp;</span><span class="hora">&nbsp;</span><span class="dia_numero">&nbsp;</span><span class="day">&nbsp;</span><span class="mes">&nbsp;</span><span class="year">&nbsp;</span></span>
    <span class="comms"><span class="wave1">&nbsp;</span><span class="wave2">&nbsp;</span><span class="wave3">&nbsp;</span></span>
    <span class="environment"><span class="water">&nbsp;</span><span class="oxygen">&nbsp;</span><span class="temperature">&nbsp;</span><span class="gravity">&nbsp;</span></span>
    <span class="energy-cells">&nbsp;</span>
    <span class="screen-left">&nbsp;</span>
    <span class="screen-center">&nbsp;</span>
    <span class="screen-bottom">&nbsp;</span>
    <span class="screen-out">&nbsp;</span>
    <span class="constelation">&nbsp;</span>
  </span>
</section>

