<section id="contact-data" class="subseccion vcard">
  <h2 class="sprite">Contact Data</h2>

  <p class="name sprite">
    <img 
      class="photo" 
      src="/assets/images/contact/victor-zamudio.jpg" 
      width="88" 
      height="112"
      alt="Víctor Zamudio" /><br />
    <strong class="fn">V&iacute;ctor Zamudio </strong><br />
    <em class="org">
      Thomson Reuters
    </em><br />
    <em class="title">
      <abbr title="User Experience">UX</abbr>/<abbr title="User Interface">UI</abbr> Lead Engineer
    </em><br />
    <span class="adr"><span class="region">M&eacute;xico City</span></span>
  </p>
  
  <p class="email sprite">
    <strong>Email</strong><br>
    <a href="mailto:alo@victorzamudio.info" class="email">alo[&#64;]victorzamudio.info</a><br />
  </p>

  <p class="phone sprite"><strong>Mobile <span class="type">phone</span></strong><br />
    <a href="tel:+525548849550" title="Ping me on my mobile">+52 50 48 84 95 50</a>
  </p>

  <p class="cards sprite"><strong>Download my contact info</strong><br /> 
    <span class="v_card"><img src="/assets/images/contact/v-card.png" width="180" height="180" alt="My vCard Quick Response Code" /><br />
    <a href="/assets/docs/v-card.vcf" target="_blank" title="Download my vCard">v-card</a></span><br />
    <span class="me_card"><img src="/assets/images/contact/me-card.png" width="180" height="180" alt="My meCard Quick Response Code" /><br />
    <a href="/assets/docs/v-card.vcf" target="_blank" title="Download my meCard">me-card</a></span>   
  </p>
  
  <span class="decorative">
    <span class="sonda spacecraft">&nbsp;</span>
    <span class="ship-position">&nbsp;</span>
    <span class="screen-top">&nbsp;</span>
    <span class="grid">&nbsp;</span>
    <span class="date"><span class="horas">&nbsp;</span>
    <span class="minutes">&nbsp;</span>
    <span class="hour">&nbsp;</span>
    <span class="day-number">&nbsp;</span>
    <span class="day">&nbsp;</span><span class="month">&nbsp;</span>
    <span class="year">&nbsp;</span></span>
    <span class="comunicaciones comms">
    <span class="onda1 spacecraft-1">&nbsp;</span>
    <span class="spacecraft-2">&nbsp;</span>
    <span class="spacecraft-3">&nbsp;</span></span>
    <span class="environment"><span class="water">&nbsp;</span><span class="oxygen">&nbsp;</span>
    <span class="temperature">&nbsp;</span><span class="gravity">&nbsp;</span></span>
    <span class="energy-cells">&nbsp;</span>
    <span class="screen-left">&nbsp;</span>
    <span class="screen-center">&nbsp;</span>
    <span class="screen-bottom">&nbsp;</span>
    <span class="screen-out">&nbsp;</span>
    <span class="earth"><span class="datos1 data-1">&nbsp;</span><span class="data-2">&nbsp;</span></span>
    <span class="moon"><span class="data-1">&nbsp;</span></span>
  </span>
</section>

