---
interface Props {
  primaryColor?: string;
  secondaryColor?: string;
}

const { primaryColor = '#ffbc00', secondaryColor = 'rgb(111, 80, 0)' } = Astro.props;
---

<a href="/" class="vz-logo">
  <svg 
    class="vz-logo"
    width="48" 
    height="48" 
    viewBox="0 0 15.875 15.875" 
    xmlns="http://www.w3.org/2000/svg">
    <title id="logo-title">Victor Zamudio | Senior Lead Engineer</title>
    <desc id="logo-description">The logotype of Victor Zamudio makes allegory to square code bracket and terminal prompt.</desc>
    <path 
      fill={secondaryColor}
      d="M74.083 37.042v5.291l5.292 2.646 5.292 2.646v-5.292z" 
      transform="translate(-74.083 -37.042)"/>
    <path 
      fill={primaryColor}
      d="M74.083 52.917v-5.292l10.584-5.292v5.292z" 
      transform="translate(-74.083 -37.042)"/>
    <path 
      fill={primaryColor}
      d="M84.667 47.625h5.291v5.292h-5.291z" 
      transform="translate(-74.083 -37.042)"/>
  </svg>
</a>

